<!-- IMPORTED MACROS -->
{% from "macros/nav.jinja2" import header %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default('Ridesharing @ Grinnell') }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    {{ header(session.get("email"))}}

    <main class="main">

        {% block main_content %}{% endblock %}
    </main>
</body>

</html>