{% from "macros/fields.jinja2" import render_text_field, render_area_field %} {% extends "layout.html" %} {% block main_content %}
<form name="add_ride" method="post" novalidate class="form">
    <div class="form__container">

        {{ form.hidden_tag() }} {{ render_text_field(form.req_date) }} {{ render_text_field(form.req_time) }} {{ render_text_field(form.req_dest) }} {{ render_text_field(form.rnd_trip) }} {{ render_text_field(form.compensation) }} {{ render_area_field(form.dtime_flexibility)
        }} {{ render_area_field(form.cmnt) }}

    </div>

    <div>
        {{ form.submit(class="button button--form") }}
    </div>
</form>

{% endblock %}