<!-- HEADER MACRO -->
{% macro header(email)%}

<header class="header">

    <div class="nav-container">
        <a href="{{url_for('pages.index')}}" class="header__logo">
            LOGO HERE!
            Ridesharing @ Grinnell</a>

        <nav class="nav">
            {% if not email %}
            <a href="{{url_for('pages.login_user')}}" class="nav__link">
                <span class="nav__item"> Log In</span>
            </a>

            <a href="{{url_for('pages.register_user')}}" class="nav__link">
                <span class="nav__item"> Register </span>
            </a>

            {% else %}

            <a href="{{ url_for('pages.my_account', _id=session.get('user_id'))}}" class="nav__link">
                <span class="nav__item"> My Account </span>
            </a>

            <a href="#" class="nav__link">
                <span class="nav__item"> Rides </span>
            </a>

            <a href="#" class="nav__link">
                <span class="nav__item"> Rides to Walmart </span>
            </a>

            <a href="{{url_for('pages.logout')}}" class="nav__link">
                <span class="nav__item"> Log Out </span>
            </a>
            {% endif %}
        </nav>
    </div>
</header>
{% endmacro %}